.cabecalho {
    display: flex;
    align-items: center;
    margin: 1.7em 1.2em 2.6em 1.2em;
    gap: 1.2em;
}

.cabecalho__usuario-nome {
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: 700;
    color: var(--cor-preto);
}

.cabecalho__usuario-consultas {
    color: var(--cor-consulta);
}